.sf-gray-primary{
    background-color: #121212;
}

.sf-gray-secondary{
    background-color: #272727;
}

.sf-btn-primary{
    background-color: #00c358;
}

.sf-btn-default{
    background-color: #151515;
}